<%- include('partials/header') %>
    <%-include('partials/navbar')%>

<div class="container py-5">
    <h2 class="mb-3 text-center">Write Article</h2>
        <form action="/post-article" method="post">
            <div class="mb-3">
            <label class="form-label">Article Title</label>
            <input type="text" name="title" placeholder="title" class="form-control">
            </div>
            <div class="mb-3">
            <label class="form-label">Article Content</label>
            <textarea name="content" class="form-control" id="" cols="30" rows="10" placeholder="Article Content"></textarea>
            </div>
            <div class="mb-3">
                <input type="reset" class="btn btn-outline-primary">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    

</div>


<%- include('partials/footer') %>